# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.settings

*.iml
out
gen
target/*
target
*/target
Algorithm/src/main/resources/
Algorithm/src/test/
common/src/main/resources/
common/src/test/
core/src/test/
javabasic/src/main/resources/
javabasic/src/test/
